# Data Engineering Platforms - Session 1

## Python - Pandas Walkthrough

Python's main data package is Pandas. Pandas is built on top of Python's numerical package, NumPy. These two packages are essential when calculating, manipulating, and merging data. Specifically, Pandas is the foundation that we will use to perform the majority of our tasks when working with data. But before we get into that, let's go over some Python basics.

## <font color = blue>Python Basics</font>

### <font color = blue>Python Data Structures and Indexing</font>

What are the main Python Data Types/Structures?    

Python has 6 data types:      
1. Numbers   
    a. Int        a = 10    
    b. Float      a = 10.54 (.) floating point real values      
    c. Long       a = 200L (L)  Long integers; can be represented as ictal & hexadecimal      
    d. Complex    a = 3.14(J)   Contains integer in the range of 0 - 255    
2. String         'Hello World'    
3. Boolean        True or False   
4. List           [1,4,5,6,7]    
5. Tuple          (1,5,6,7,8,9)    
6. Dictionary     {'Illinois': 'Springfield', 'California': 'Sacramento', 'Texas': 'Austin'}    

The main data structures are 4-6 above and great documentation can be found [here](https://docs.python.org/2/tutorial/datastructures.html)

### Indexing    

Basic Indexing is a way to select rows, items of data in your list, string, dictionary, etc.   

**Python indexing is zero based, meaning the first element is indexted at 0.**

In [2]:
# A sample list and string
fruit_list = ['Apple','Orange','Banana','Grapefruit','Mango','Pear','Kiwi','Pineapple','Grapes']

string1 = 'Good morning'

In [3]:
## To index the first element, type the name of the variable, followed by square brackets. Within square brackets is where
## to enter the index. The first element is 0. To index the 2nd element, use 1, and so on.
## Indexing a string will find the letter/character  in a similar manner
## Using a negative index will work backwards, starting from the end of the data sctructure, ie -1 will return the last 
## element. 

# Print the first element of fruit_list.
print(fruit_list[0])
# Print the third element of fruit_list.
print(fruit_list[2])
# Print the last element of fruit_list.
print(fruit_list[-1])

# Print the first character of string1
print(string1[0])
# Print the seventh character of string1
print(string1[6])

Apple
Banana
Grapes
G
o

#### The above example returns a single value when indexing. Using the colon ':' allows you to slice the list/string to return multiple values.

<font color= green>***When slicing, if you leave the left side of the colon blank, it will default to the beginning of the data structure. Similarly, when leaving the right side of the colon blank, it will return everything until the end of the data structure.  Lastly, the right side of the colon will include up to but NOT including that index.***
</font>   

Here are some examples:

In [4]:
# Return the first three elements in fruit_list
print(fruit_list[:3]) # or fruit_list[0:4]

# Return all the elements except the first 2
print(fruit_list[2:])

 
# Return the first 4 characters in string1
print(string1[0:4])

# Return all the elements except the first 5 in string1
print(string1[5:])

['Apple', 'Orange', 'Banana']
['Banana', 'Grapefruit', 'Mango', 'Pear', 'Kiwi', 'Pineapple', 'Grapes']
Good
morning

### Advanced Indexing will be covered later when we start working with the Pandas package

Below are some exercises for you to try

In [12]:
List1 = [1,2,3,5,8,6,78,25,14,98,65,32,7,18]

string2 = 'If you fail to prepare, prepare to fail.'

# Return the 7th element(8th index)
print(List1[8])

# Index the first 5 elements
print(List1[0:6])

# Return the 4th and 5th element.
print(List1[3:5])

# Use negative index to return the last element in list
print(List1[-1])

# Use negative index to return the last 5 elements
print(List1[-5:])

# Return 1st letter in string2
print(string2[0])

# Return letters indexed at 1:6
print(string2[1:6])

# Return last 5 characters
print(string2[-5:])

14
[1, 2, 3, 5, 8, 6]
[5, 8]
18
[98, 65, 32, 7, 18]
I
f you
fail.

**Conditionals - if, else**

In [7]:
# Conditional example

cond_list = [1,3,4,6,4]
if sum(cond_list) < 15:
    print("Less than 15")
else:
    print("more than 15")

more than 15

**Looping. What is the difference between a for loop and a while loop?**

A for loop will loop through until all the elements in the given data structure are exhausted. 

A while loop will keep looping until a condition is met.  ** *Take special care when using a while loop. If not properly done, you can create an infinite loop. **

In [9]:
# For loop example
for fruit in fruit_list:
    if len(fruit) < 5:
        print(fruit)

Pear
Kiwi

In [10]:
# While loop example
count = 0

while count < 10:
    print("Count is at %d" %count)
    count +=1

Count is at 0
Count is at 1
Count is at 2
Count is at 3
Count is at 4
Count is at 5
Count is at 6
Count is at 7
Count is at 8
Count is at 9

**List Comprehensions**   

When doing any type of data analytic, you often find yourself wanting to either read a list, filter a list, find values within a list, removing white space from a list, or most notably, create a new list from another list. Keep in mind, when I use 'list', a column of data could be considered a list. One of the most efficient ways of doing anything I just mentioned, is to use a list comprehension.  In short, a list comprehension is a quick line of code that is essentially a for loop. 

Let's look at a few examples to illustrate the power of list comprehensions.

In [13]:
# Example using list1 above
list_c = [n*2 for n in List1]
list_c

[2, 4, 6, 10, 16, 12, 156, 50, 28, 196, 130, 64, 14, 36]

In [14]:
# List comprehenesion with a conditional
list_c2 = [n*2 for n in List1 if n < 6]
list_c2

[2, 4, 6, 10]

## <font color= blue>Functions</font>
Before we get started on our topic of pandas(and some numPy), we'll go over a vital part of programming, user defined functions. User defined functions come in handy when you create code that will be repeatable. It would become very tedious to keep writing the same code over and over again to produce the same results. Some relevant use cases include cleaning a file on a regular basis, performing calculations, or automating a process.

**User Defined Functions** syntax:

To create a user defined function, first use the keyword 'def' followed by your function name (any name you define) followed by parameters(this is optional) ending with parentheses and a colon. Within this function start with your **docstring**, which is documentation on what your function performs, then next is your code, which should be indented. Typically, the end of the function should return or print something. 

def function_name():    
&nbsp;&nbsp;&nbsp;&nbsp;your docstring     
&nbsp;&nbsp;&nbsp;&nbsp;your code     
&nbsp;&nbsp;&nbsp;&nbsp;return the output

**Docstring** is contained within triple quotations marks and should be used to describe the function.

The following are some examples.

In [15]:
# Very simple example of returning the multiplication of two numbers
def multiply_by(x,y): # 'x' & 'y' are just user defined variables
    """ Function will multiply two given numbers"""
    return x*y

### Note, Placement matters within the arguments. Since x is first, the value assigned in that parameter will
### correspond to 'x'.

In [16]:
# Use the mulitply_by function

multiply_by(5,3) # This will return the product of 5 and 3

# Common practice is you can save the value of this function into another variable for use later.

15

In [ ]:
# Print the docstring
help(multiply_by)

In [17]:
# Though the vast majority of times you would use parameters, it's not required. Here's another example
# In this example, I'll be utilizing a pandas package, so I'll need to import the package

import pandas as pd

fruit_series = pd.Series(['Apple', 'Orange', 'Banana', 'Grapefruit', 'Mango', 'Pear', 'Pineapple', 'Kiwi', 'Grapes'])

def random_fruit():
    """
    Function uses the pandas 'sample' function which
    will randomly select a fruit from the list.
    """
    return fruit_series.sample(1)

In [18]:
# This function will randomly return a fruit from the fruit_series.

random_fruit()

5    Pear
dtype: object

In [19]:
# We can also specify default value(s) for one of the arguments within the function.

def n_root(x, y = 2):  # If we don't specify the 'y' value, it defaults to 2.
    """
    Function will take the nth root of x.
    The default is 2, which will square x.
    """
    return x**y

In [20]:
n_root(5)

25

In [21]:
n_root(2,5)

32

In [22]:
# You can also specify within the arguments which value corresponds to the respective variable
n_root(y=3, x=5)

125

## Now that we are caught up and went over user defined functions, let's move on with pandas.

## <font color= blue>Pandas</font>

**Pandas** is probably the most widely used packages in python, especially for data analytics. It provides fast, flexible, and is designed to make working with relational/labeled data easy and intuitive. There are two types of data structures in pandas, a Series (1-dimensional, think a single column) & DataFrame(2-dimensional, think tabular data). There's a ton that pandas can do, all of which we won't have the time to go over, but here is a link to some highlights: [pandas](https://pandas.pydata.org/pandas-docs/stable/).

Furthermore, pandas is the data structure of choice when working with other packages in the data science and advanced analytics enviromnent.

Pandas is not only great at wrangling/munging and other handling of data, but it's also highly optimized to do calculations and other statitical operations. This is because pandas is built on NumPy, which is the numerical package for Python. 

Now that we have a high level view of pandas, let's get started on using it.

### <font color= green>Importing Data</font>

Python offers other ways to import data through various files. However, as a data analytics team, it's ideal if we can put the data into a pandas dataframe.

Pandas can import different file types, such as csv, excel, text, json, even sas files. Let's dive into a few examples. We even did so working on the complaint data earlier.

The other types of files pandas can import, click [here](https://pandas.pydata.org/pandas-docs/stable/io.html)

In [4]:
# When working with pandas, first import the pandas package and save it as pd(this is standard convention).

# Let's start with an excel file. The great thing about using pandas to read excel, you can choose which tab or sheet
# to import (if applicable).

# Let's import the movies.xls data set.  This data has three tabs, each are movies in different decades. 

# In this example, we're going to import just the file using the default values for the parameters
import pandas as pd
movie_df = pd.read_excel("movies.xls")

# What the below does is ensures we return a float rather than a scientific notation
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [5]:
# Here, only the first tab is used. pandas is smart enough to know that the first column is the header
# If there are no headers, we can use the header argument and set it to None. 
movie_df.head(3)

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.00,nan,...,436,22,9.00,481,691,1,10718,88,69.00,8.00
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.00,3000000.00,...,2,2,0.00,4,0,1,5,1,1.00,4.80
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.00,nan,...,81,12,6.00,108,226,0,4849,45,48.00,8.30

In [6]:
# Let's say we want to see movies from the 2000's and want to make the index be the movie name instead of a number.
movie_df = pd.read_excel("movies.xls", sheetname = '2000s', index_col = 0 )
movie_df.head(3)

/anaconda3/lib/python3.7/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
Title,,,,,,,,,,,,,,,,,,,,,
102 Dalmatians,2000,Adventure|Comedy|Family,English,USA,G,100.00,1.85,85000000.00,66941559.00,Kevin Lima,...,2000.00,795.00,439.00,4182,372,1,26413,77.00,84.00,4.80
28 Days,2000,Comedy|Drama,English,USA,PG-13,103.00,1.37,43000000.00,37035515.00,Betty Thomas,...,12000.00,10000.00,664.00,23864,0,1,34597,194.00,116.00,6.00
3 Strikes,2000,Comedy,English,USA,R,82.00,1.85,6000000.00,9821335.00,DJ Pooh,...,939.00,706.00,585.00,3354,118,1,1415,10.00,22.00,4.00

In [7]:
# We'll get more into this later, but changing the index to a column (ie title) can make filtering and working with
# your data much easier than using the default index of 0...n. 
 
# As you can see, we have 24 columns.  Let's say we don't need all this data and just want a few of the columns.
# We can import that way as well. 

df_cols = ['Title', 'Year', 'Genres', 'Budget', 'Gross Earnings']
movie_df = pd.read_excel("movies.xls", sheetname = '2010s', index_col = 0, usecols = df_cols)
movie_df.head(3)

Empty DataFrame
Columns: []
Index: []

What if we want to combine all the sheets into one dataframe? 

pandas has a 'class' called ExcelFile that facilitates working with multiple sheets from a single excel file. It can then be parsed using the read_excel function.

In [8]:
# Combining all the sheets/tabs of the excel file into one file

xls = pd.ExcelFile("movies.xls") # save the ExcelFile as a variable to then parse
movies = [] # Initialize an empty list to store the data from each tab
for sheet in xls.sheet_names:
    movies.append(xls.parse(sheet))
movie_df = pd.concat(movies)
movie_df = movie_df.reset_index(drop=True)
movie_df.shape

(5042, 25)

### <font color= green>Indexing & Subsetting</font>

Now that we know how to bring in data, it's important to understand indexing and slicing. This is useful if you're looking for data in specific ways. You can think about indexing and slicing as ways to filter the data. For instance, perhaps we want to only look at certain columns or rows, or perhaps look at data that has a certain balance or category.

Pandas has two main ways to index it's data frame.    
1.  The first way is with the iloc method. .iloc is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array. 

2.  The other way is the loc method. .loc is primarily label based, but may also be used with a boolean array. .loc will raise KeyError when the items are not found.

The documentation can be found [here](https://pandas.pydata.org/pandas-docs/stable/indexing.html).

To use iloc or loc method of indexing, append the method after the dataframe followed by square brackets. Within the square brackets is where we index. 

Example:                
df.iloc[row selection, column selection]   
df.loc['row name/index name', 'column_name'] -> the index number can be used in place of the column name.

Let's look at some of the ways to look at the data.

In [9]:
# In these examples to follow, let's look at the movie df that we created. 
movie_df.head(3)

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916.00,Drama|History|War,NaN,USA,Not Rated,123.00,1.33,385907.00,nan,...,436.00,22.00,9.00,481,691,1.00,10718,88.00,69.00,8.00
1,Over the Hill to the Poorhouse,1920.00,Crime|Drama,NaN,USA,NaN,110.00,1.33,100000.00,3000000.00,...,2.00,2.00,0.00,4,0,1.00,5,1.00,1.00,4.80
2,The Big Parade,1925.00,Drama|Romance|War,NaN,USA,Not Rated,151.00,1.33,245000.00,nan,...,81.00,12.00,6.00,108,226,0.00,4849,45.00,48.00,8.30

In [10]:
# Before we move further, let's a quick quality check to see if there are duplicate rows
movie_df.duplicated().sum()

45

In [11]:
# There are 45 duplicated rows. Let's just drop them

movie_df.drop_duplicates(inplace=True)
print(movie_df.duplicated().sum())
movie_df.reset_index(drop=True, inplace = True)

0

### Before we start using indexing, let's take a look at some of examples of subsetting the data. That is, using python coding to look at data in a different way.

In [ ]:
# Let's look at the columns in this dataframe.. use the .columns method
movie_df.columns

In [ ]:
# To look at a single column, just use square brackets and add the column name in between quotes.
# Let's look at a single column.  we'll add the .head() method to just look at the top 5 just to save space
movie_df['Title'].head()  # This returns a pandas Series, which is just a single column.To view as dataframe, use double brackets
                          # movie_df[['Title']].head()

In [ ]:
# If you have column headers, like in this movie dataset, you can also just use the .column_name syntax
movie_df.Title.head()

In [ ]:
# What if we want to subset and look at movies titles that have a run time greater than or equal to 240 minutes?
# Instead of just the column name in the bracket, add in the df name followed by column you want to filter.
movie_df[movie_df['Duration']>=240]

In [ ]:
# We can subset on more than one filter. Let's look at movies greater than 240 minutes and in English
movie_df[(movie_df['Duration']>=240) & (movie_df['Language'] == 'English')]

In [ ]:
# Instead of bringing in the entire dataframe with all the columns, we can only show columns we're interested in.
columns_to_view = ['Title', 'Year', 'Duration', 'IMDB Score']
movie_subset_df = movie_df[columns_to_view]
movie_subset_df.head()

In [ ]:
# Exercise 1, subset the movie data to returning movies in english that had a budget of greater than 200MM and country is USA.

# How many movies made this list?

#Ans:
movie_df[(movie_df['Language'] == 'English') & (movie_df['Budget']>200000000) & (movie_df['Country'] == "USA")]

In [ ]:
# Let's say we only want to see the titles of movies that are greater than 240 minutes. 
movie_df[movie_df['Duration']>=240][['Title']]  # Single bracket will return a Series, while double bracket returns DF

### The above syntax to subset is called chain indexing (notice the ][ brackets), which is fine to do in this instance, however it's not recommended. Just to be clear, the first part of the subset (greater than 240) is a correct python idiom, however, adding the 'Title' in that way is chain indexing, which again is not recommended, but in most cases will work. The reasoning is way beyond scope of this class, but a couple of the main reasons are issues with mutability and this way of subsetting is inefficient.

#### Instead of chain indexing, we'll use pandas' indexing methods, namely loc and iloc.

In [ ]:
# Some useful method functions when working with pandas

print(movie_df.shape) # Gives number of rows and columns of dataframe
print(movie_df.columns) # Gives the names of the columns in the dataframe

In [ ]:
# Let's work with .iloc.   Filter the first three movies with the first 2 columns
movie_df.iloc[0:3,0:2]

### Other ways to filter using iloc(remove the '#' to run)

# movie_df.iloc[-1] # last row of data frame
# movie_df.iloc[0:5]   # first five rows of dataframe
# movie_df.iloc[[0,1,7,15], [0,6,8]] # 1st, 2nd, 8th, 16th row & 1st, 7th, 9th columns.

In [ ]:
# Let's use iloc to get the same data from the chain indexing example:  movie_df[movie_df['Duration']>=240][['Title']]
# The title is the first column, so it's column index is 0. Note use of .index since we need to match indexes of subset

movie_df.iloc[movie_df[movie_df['Duration']>=240].index,0:1] # used column index 0:1 to return a df vs a Series.

# Subsetting with iloc is intuitive, but it looks cleaner when used with loc instead.

In [ ]:
# In my opinoin, loc is much easier to use, especially when you have column headers. It's also useful if you have row/index names
# We'll look at those examples a little bit later.


# First three rows with columns of Title and year.
movie_df.loc[0:3,['Title', 'Year']]

# More examples of loc

# movie_df.loc[[0,3,5], ['Title', 'Year', 'Actor 1']] # rows 1,4,6, & Title, Year, Actor 1 columns

In [ ]:
# Use loc to get the same data from the chain indexing example:  movie_df[movie_df['Duration']>=240][['Title']]

movie_df.loc[movie_df['Duration']>=240,'Title'] # To put into a dataframe view vs Series, put 'Title' in brackets.
                                                # movie_df.loc[movie_df['Duration']>=240,['Title']]

# Subsetting with iloc is intuitive, but it looks cleaner when used with loc instead.

##### Sometimes it's useful to have a row/index name with loc. For instance, we often don't know what row a certain movie is in. It would be easier just to call it by name. 

Let's create a new dataframe to illustrate this example.

In [ ]:
# Create a new copy of the df
movie_df2 = movie_df.copy()

# Remove any white space before/after title name:
movie_df2['Title'] = movie_df2['Title'].str.strip()

# Set the index to Title since it's unique. Setting to inplace = True will update the dataframe in place
movie_df2.set_index('Title', inplace=True)

In [ ]:
movie_df2.index # Can see that the indexes are the movie title's

In [ ]:
# If we want to find the IMDB Score, 'Actor 1', 'Actor 2', 'Director', 'Budget', 'Gross Earnings' of
# Anchorman 2: The Legend Continues

movie_df2.loc['Anchorman 2: The Legend Continues', ['IMDB Score', 'Actor 1', 'Actor 2', 'Director', 'Budget', 'Gross Earnings']]

# You can even use the : to get every movie after. ..Sorting before hand also helps if you want the data in a particular order
# beforehand.

# movie_df2.loc['Anchorman 2: The Legend Continues':, ['IMDB Score', 'Actor 1', 'Actor 2', 'Director', 'Budget', 'Gross Earnings']]

##### Play around with loc and get comfortable using it. Other great use cases include having a loan or transaction ID as the index, having unique date perioeds, etc.

In [ ]:
# Other ways to index using loc and iloc
movie_df.loc[1234] # returns the ninth index row with it's corresponding columns.  iloc will work the same.

# movie_df.iloc[9]

In [ ]:
# Exercise 2 - Subset the movie dataset showing only the Title, Year, IMBD Score where Country is USA and IMBD Score > 9

# Ans:
movie_df.loc[(movie_df['Country'] == "USA") & (movie_df['IMDB Score']>9), ['Title', 'Year', 'IMDB Score']]

There are many different ways to subset/index your data in python. With Pandas, some ways are better than others. It is better to use the pandas methods of loc and iloc. The main reason is that these methods are much more efficient and faster. To learn more, there's a great blog [here](https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-part-4-c4216f84d388).

### <font color= green>Data munging/wrangling</font>

Next, we'll work on some very basic data wrangling techniques, ranging from dealing with Null values to grouping, pivoting, filtering, and joining data.

Dealing with Null values. Sometimes we would like to change Null values to 0's or use some sort of central number, like the mean or median. Pandas makes this very easy to do with the fill_na() method. Next, we'll work with some examples.

Let's look at the Movie dataframe. We can inspect which fields have null values using the isnull or info methods.

In [ ]:
# Find nulls using the .info() method.

# First, let's only look at movies that are from the US.

movie_usa = movie_df[movie_df['Country']=='USA'].reset_index()  # without resetting the index, the index values won't change from
                                                                # the original df.

movie_usa.info()

In [ ]:
# Find nulls using the .info() method.
movie_usa.isnull().sum()

In [ ]:
# Let's fill the Null's in the FB Director Likes column with zero's instead of none.

movie_usa['Facebook Likes - Director'].fillna(0, inplace = True)

# You can fill na's with any type of value, such as a constant, median, mean, etc.

In [ ]:
# Exercise 3 - Fill the Facebook likes for Actor 3 to be the median value of all FB likes for actor 3

# Ans:
movie_usa['Facebook Likes - Actor 3'].fillna(movie_usa['Facebook Likes - Actor 3'].median(), inplace = True)

In [ ]:
# Let's make sure FB likes for Director and Actor 3 have no more null values.

print movie_usa['Facebook Likes - Director'].isnull().sum()
print movie_usa['Facebook Likes - Actor 3'].isnull().sum()

In [ ]:
# Let's say we want to just drop the remaining rows that have NA

movie_usa.dropna(inplace = True)

In [ ]:
movie_usa.isnull().sum()

Now that we worked with filling NA's and dropping NA's, let's work on grouping the data in different ways.

In [ ]:
# Group Data by Year and average the gross earnings.
movie_usa['Gross Earnings'].groupby(by = movie_df['Year']).mean().head(15)

In [ ]:
# Let's group by director and sort by highest earning directors by average showing top 5
movie_usa['Gross Earnings'].groupby(movie_usa['Director']).mean().sort_values(ascending = False).head()

In [ ]:
# Exercise 4 - Find top 10 Actors (use 'Actor 1') with the highest total gross earnings

# Who's number 1?  Who's number 8?

# Ans:
movie_usa['Gross Earnings'].groupby(movie_usa['Actor 1']).sum().sort_values(ascending = False).head(10)

In [ ]:
# Let's view the average gross earning by genre and ratings

movie_usa['Gross Earnings'].groupby(by = [movie_usa['Year'], movie_usa['Content Rating']]).mean().tail(20)

In [ ]:
# Here is another example of using groupby

# Group by Director/Actor 1 combination and find the average IMDB Score.
# This creates a mulitlevel index of Director/Actor
movie_usa.groupby(['Director', 'Actor 1'])['IMDB Score'].mean().head()

In [ ]:
# Assign the group to a variable and we can use it to search.

director_actor_df = movie_usa.groupby(['Director', 'Actor 1'])['IMDB Score'].mean()

# Let's look at Christopher Nolan
director_actor_df.loc[['Christopher Nolan']].sort_values(ascending = False)

In [ ]:
# Exercise 5 - Find top 5 Directors with the best average IMBD Scores

# Ans:
movie_usa[['IMDB Score', 'Gross Earnings']].groupby(movie_usa['Director']).\
mean().sort_values(by='IMDB Score',ascending=False).head()

In [ ]:
# Exercise 6 - Group movies by year after 2010 with the values as the average Gross earnings. 

# Ans:
movie_usa.loc[movie_usa['Year']>2010, ['Year', 'Gross Earnings']].groupby('Year').mean()

Very similar to group by's are pivot tables. Both are essentially the same in that they group data together along with some sort of aggregation calculation. The main difference is how the data is viewed/displayed. Let's compare the two.

In [ ]:
# Using pivot_table()
import numpy as np # Using Numpy's numerical functions

pd.pivot_table(movie_usa, values = ['IMDB Score','Gross Earnings'], index = 'Director'\
               , aggfunc={'IMDB Score': np.mean, 'Gross Earnings': np.sum}).sort_values('IMDB Score', ascending = False).head()

In [ ]:
# You can also look at different aggregate functions from the same columns using pivot_table or groupby.

pd.pivot_table(movie_usa, values = ['IMDB Score','Gross Earnings'], index = 'Director'\
               , aggfunc={'IMDB Score': np.mean, 'Gross Earnings': [min, max, np.mean, len]}\
              ).sort_values([('IMDB Score', 'mean')], ascending = False).head()

In [ ]:
test1 = pd.pivot_table(movie_usa, values = ['IMDB Score','Gross Earnings'], index = 'Director'\
               , aggfunc={'IMDB Score': np.mean, 'Gross Earnings': [min, max, np.mean, len]}\
              ).sort_values([('IMDB Score', 'mean')], ascending = False).head()

In [ ]:
# Another example

pd.pivot_table(movie_usa, index = ['Actor 1'], values = ['IMDB Score', 'Gross Earnings']\
               , aggfunc={'Gross Earnings' : [np.sum,len], 'IMDB Score': [min, max, np.mean]}\
              ).sort_values([('Gross Earnings', 'sum')], ascending = False).head(10)

#### Next, we'll look at ways to merge different datasets.

In this example, we only want to look at Actors that have been in 5 or more movies within this dataset.   
First, we'll create a grouped data frame that has all the actors and the count of their movies.

We'll then filter out only the actors with 5 or more movies. 
Finally, we'll merge this dataset filter with the original dataframe.

In [ ]:
# Let's work with the original movie_df, but this time drop all rows with null

print(movie_df.shape)
movie_clean = movie_df.dropna().reset_index(drop = True)

In [ ]:
movie_actor_count = movie_clean.groupby(['Actor 1'])[['Title']].count()  # returns a df of the actor and count of movies

movie_actor_g5 = movie_actor_count[movie_actor_count['Title']>=5].reset_index() # returns a df of only actors in 5+ movies.
# Need to reset the index to make the Actors name a column.

In [ ]:
# Next we'll merge. This is very similar to joining in a sql query.  We want an 'inner' join since we only want to return
# matched data

movie_actorG5_df = movie_clean.merge(movie_actor_g5, left_on = "Actor 1", right_on = 'Actor 1', how='inner' )

In [ ]:
movie_actorG5_df.shape

In [ ]:
# Exercise 7 - Create a pivot table that shows top 10 actors by IMBD Rating along with the len, max, min, mean Gross Earnings.
#              Use the new movie_actorG5_df dataframe. 
#              Play around with different columns to explore the data in other ways. 

 
# Ans:
pd.pivot_table(movie_actorG5_df, values = ['IMDB Score','Gross Earnings'], index = 'Actor 1',\
               aggfunc={'IMDB Score': [min, max, np.mean], 'Gross Earnings': [min, max, np.mean, len]}\
              ).sort_values([('IMDB Score', 'mean')], ascending = False).head(15)

We can also create new columns based on values of other columns or even calculations. 

As an example, let's figure out what movies are the most profitable using the movie_actorG5_df dataframe

In [ ]:
movie_actorG5_df['profit'] = movie_actorG5_df['Gross Earnings'] - movie_actorG5_df['Budget']

In [ ]:
movie_actorG5_df.loc[:,['Title_x', 'Director', 'Year', 'Actor 1', 'Gross Earnings', 'Budget', 'profit']].head()

In [ ]:
# Exercise 8a - Who are the top 10 profit making actors?

# Ans:
movie_actorG5_df[['profit']].groupby(movie_actorG5_df['Actor 1']).sum().sort_values(by = 'profit', ascending = False).head(10)

In [ ]:
# Exercise 8b - Who are the top 10 least profitable actors?

# Ans:
movie_actorG5_df[['profit']].groupby(movie_actorG5_df['Actor 1']).sum().sort_values(by = 'profit', ascending = False).tail(10)