In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/2

0.5

2**4

In [6]:
2 ** 4

16

In [9]:
'order of operations'

'order of operations'

In [10]:
4%4

0

In [11]:
print('modulo')

modulo

In [12]:
'good way to check if numbers are even'

'good way to check if numbers are even'

In [13]:
variable names

SyntaxError: invalid syntax (<ipython-input-13-8e9d667cbc3a>, line 1)

In [14]:
'variable names'

'variable names'

In [15]:
var = 2

In [16]:
var

2

In [17]:
x = 2

In [18]:
y = 4

In [19]:
x + y

6

In [20]:
'var names cannot start with numbers'

'var names cannot start with numbers'

In [21]:
# Strings

In [22]:
'single quotes'

'single quotes'

In [23]:
"this is a string"

'this is a string'

In [24]:
"fucketh'"

"fucketh'"

In [25]:
x = 'hello'

In [26]:
x

'hello'

In [27]:
print(x)

hello

In [28]:
#format print statement

In [29]:
num = 12 
name = 'Sam'

In [30]:
print('My number is {} and my name is {}' .format(num,name))

My number is 12 and my name is Sam

In [31]:
s = 'hello'

In [32]:
s[0]

'h'

In [33]:
s[1]

'e'

In [34]:
#indexing is seen above

In [35]:
s[4]

'o'

In [36]:
s[0:]

'hello'

In [37]:
s[:3]

'hel'

In [38]:
nest = [1,2,[3,4]]

In [39]:
nest

[1, 2, [3, 4]]

In [40]:
nest[2]

[3, 4]

In [41]:
nest[2][1]

4

In [42]:
print(nest)

[1, 2, [3, 4]]

In [43]:
true and true

NameError: name 'true' is not defined

In [44]:
True

True

In [45]:
True and True

True

In [46]:
if (1 < 2): 
    print('TRUE')

TRUE

In [47]:
if 1 == 2: 
    print('First')
else: 
    print('last')

last

In [48]:
if 1 == 2: 
    print('First')
elif 4 ==4: 
    print('second')
else: 
    print('last')

second

In [3]:
seq = [1,2,3,4,5]

In [50]:
for item in seq: 
    print(item)

1
2
3
4
5

In [51]:
for jelly in seq: 
    print('nom')

nom
nom
nom
nom
nom

In [1]:
i = 1
while i < 5: 
    print('i is : {}' .format(i))
    i = i + 1

i is : 1
i is : 2
i is : 3
i is : 4

In [4]:
for x in seq: 
    print(x)

1
2
3
4
5

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
x = [1,2,3,4]

In [7]:
out = []

In [8]:
for num in x: 
    out.append(num**2)

In [9]:
print(out)

[1, 4, 9, 16]

In [10]:
def my_func(param1): 
    print(param1)

In [11]:
my_func('hello')

hello

In [12]:
def my_func(name='Default Name'): 
    print('Hello '+name)

In [13]:
my_func('Jose')

Hello Jose

In [14]:
my_func

In [15]:
my_func

In [16]:
seq = [1,2,3,4,5]

In [17]:
times2(5)

NameError: name 'times2' is not defined

In [18]:
def times2(var): 
    return var*2

In [19]:
map(times2,seq)

In [20]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [21]:
lambda var:var*2

In [22]:
t = lambda var:var*2

In [23]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]